header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  background-color: #802020;
  color: #EECC00;
}

header nav a {
  margin: 0 1em;
  color: #EECC00;
  text-decoration: none;
}

.coasterCard:hover {
  opacity: 0.8;
  cursor: pointer;
}